/* Estilos personalizados para el carrusel */

  body {
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente para el contenido */
    padding: 20px;
    border-radius: 10px;
  }
  .carousel-inner {
    display: flex;
    justify-content: center;
    padding-right: 300px;
  }
  .carousel-inner img {
    /* width: 35%; height: 400px; */
    width: 300px; height: 500px; border-radius: 10px;
  }
  .animated-title {
    position: relative;
    animation: title-effect 2s linear infinite;
  }
  
  @keyframes title-effect {
    0% {
      color: #ff00ff; /* Color inicial */
      transform: translateY(0);
    }
    50% {
      color: #5900ff; /* Color intermedio */
      transform: translateY(-5px);
    }
    100% {
      color: #02c24c; /* Color final */
      transform: translateY(0);
    }
  }
